{% extends 'core/base.html' %}

{% block title %}{{ bubble.name }}{% endblock %}

{% block content %}
    <div class="max-w-3xl mx-auto mt-6 p-6 bg-gray-100 rounded-lg shadow-md">
        <h1 class="text-3xl font-bold mb-6">{{ bubble.name }}</h1>

        <h2 class="text-xl font-bold mb-4">Bubble Members</h2>

        <div class="flex flex-wrap gap-4 mb-6">
            {% for member in members_in_bubble %}
                <a href="{% url 'core:bubble_mate_chat' pk=member.bubble_id.id username=member.user_id.username %}" target="_blank" class="inline-block">
                    <div class="w-12 h-12 rounded-full flex items-center justify-center bg-blue-200 hover:bg-blue-300">
                        <span class="text-lg font-bold text-gray-800">{{ member.user_id.username|first|upper }}</span>
                    </div>
                </a>
            {% empty %}
                <p>No members found</p>
            {% endfor %}
        </div>

        <h2 class="text-xl font-bold mb-4">Previous Community Chats</h2>

        <div class="mb-6">
            <ul>
                {% for post in Community_Posts %}
                    <li>
                        <a href="{%  url 'core:bubble_post' pk=post.bubble_id.id  post_id=post.id %}" target="_blank" class="block py-3 px-4 bg-blue-50 rounded-md shadow-md hover:shadow-lg mb-3 transition duration-300">
                            <p class="font-semibold">{{ post.title }}</p>
                            <p class="text-gray-600">{{ post.message }}</p>
                            <p class="text-sm text-gray-500">{{ post.created_on }}</p>
                        </a>
                    </li>
                {% empty %}
                    <li>No previous chats</li>
                {% endfor %}
            </ul>
        </div>

        <h2 class="text-xl font-bold mb-4">New Community Chat</h2>

        <form method="post" class="mb-6">
            {% csrf_token %}
            <input type="text" name="title" placeholder="Title" class="w-full rounded-lg border-gray-300 focus:border-blue-500 resize-none p-3 focus:outline-none mb-4" required>
            <textarea name="message" class="w-full rounded-lg border-gray-300 focus:border-blue-500 resize-none p-3 focus:outline-none" rows="4" placeholder="Type your message here..." required></textarea>
            <button type="submit" class="mt-4 bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-lg focus:outline-none transition duration-300">Send Message</button>
        </form>
    </div>
{% endblock %}

