{% extends 'core/base.html' %}

{% block title %} Bubble Post {% endblock %}

{% block content %}
<div class="max-w-lg mx-auto mt-6">

            <div class="flex items-center mt-4 mb-6 mx-auto">
                <a href="{% url 'core:bubble_mate_chat' pk=bubble.id username=friend_profile.username %}" class="inline-block bg-transparent hover:bg-gray-200 text-blue-500 font-bold py-2 px-4 rounded-lg focus:outline-none mr-4">
                    <i class="fas fa-arrow-left"></i>
                </a>
                <h1 class="text-2xl font-bold">Chat with <span class="text-blue-500">{{ friend_profile.username }}</span></h1>
            </div>

            <ul>
                {% for message in chats %}
                    <div class="mb-4">
                        {% if message.sender.username == friend_profile.username %}
                            <p class="bg-gray-200 rounded-lg p-2 bg-blue-200">{{ message.chat }}</p>
                            <p class="text-sm italic text-gray-500">{{ message.created_at }}</p>
                        {% else %}
                            <p class="bg-gray-200 rounded-lg p-2 text-right bg-pink-200">{{ message.chat }}</p>
                            <p class="text-sm italic text-gray-500">{{ message.created_at }}</p>
                        {% endif %}
                    </div>
                {% empty %}
                    <li>No chat found</li>
                {% endfor %}
            </ul>

        </div>
{% endblock %}