{% extends 'core/basechat.html' %}

{% block title %} Chat with {{ friend_profile.username }} {% endblock %}

{% block content %}


<!-- Include jQuery and your custom script -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="max-w-lg mx-auto mt-6">
<!-- Back Button with Icon -->
<div class="flex items-center mt-4 mb-6 mx-auto">
    <a href="{% url 'core:friend_profile_view' friend_username=friend_username %}" class="inline-block bg-transparent hover:bg-gray-200 text-blue-500 font-bold py-2 px-4 rounded-lg focus:outline-none mr-4">
        <i class="fas fa-arrow-left"></i>
    </a>
    <h1 class="text-2xl font-bold">Chat with <span class="text-blue-500">{{ friend_profile.username }}</span></h1>
</div>
 

        <!-- Existing messages -->
    <!--Ajax chats fetch -->
<!-- Chat Container -->
<ul id="chat-container">
    <!-- Chat messages will be loaded here by JavaScript -->
</ul>

        <!-- Form for sending messages -->
<form id="comment-form">
    {% csrf_token %}
    <textarea name="chat" class="w-full rounded-lg border px-4 py-2 focus:outline-none focus:border-blue-500" placeholder="Type your message here..."></textarea>
    <button type="submit" class="mt-2 bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-lg focus:outline-none">Send Message</button>
</form>

    </div>









<!--Java Script to fetch Comments-->
<script>

function updateChat() {
    var friendUsername = '{{friend_username}}';
    $.ajax({
    url: '/fetch-comments/' + friendUsername, 
        dataType: 'json',
        success: function (data) {
            var chatList = '';
            data.chats.forEach(function (message) {
                // Check if the message sender is the friend
                var bgColorClass = (message.sender === friendUsername) ? 'bg-blue-200' : 'bg-pink-200';
                var textAlignClass = (message.sender !== friendUsername) ? 'text-right' : '';

                chatList += '<div class="mb-4" >' +
                                
                                '<p class="' + bgColorClass + ' rounded-lg p-2 ' + textAlignClass + '">' + message.message + '</p>' +
                                '<p class="text-sm italic text-gray-500">' + message.created_at + '</p>' +
                            '</div>';
            });
            if (chatList === '') {
                chatList = '<li>No chat found</li>';
            }
            $('#chat-container').html(chatList);  // Assuming your chat container has the ID 'chat-container'
        }
    });
}

// Call updateChat function periodically, e.g., every 5 seconds
setInterval(updateChat, 1000);

// Initial fetch when the page loads
$(document).ready(updateChat);
</script>


<!-- Java Script for submiting comments-->
<script>
    $(document).ready(function() {
        $('#comment-form').on('submit', function(e) {
            e.preventDefault();
            var formData = $(this).serialize();
    
            // Get the CSRF token
            var csrftoken = $('[name=csrfmiddlewaretoken]').val();
    
            $.ajax({
                url: `/post-message/{{friend_username}}/`, // Use the Django template variables
                type: 'POST',
                data: formData,
                dataType: 'json',
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success: function(data) {
                    if (data.status === 'success') {
                        // Handle success
                        $('#comment-form')[0].reset();
                    } else {
                        // Handle form errors
                    }
                },
                error: function(xhr, errmsg, err) {
                    // Handle AJAX errors
                }
            });
        });
    });
    </script>

<div id="message-count-box" style="color: red;" data-sender-id="{{ friend_profile.id }}">
    <!-- The message count will be displayed here -->
</div>

<script>
    function resetMessageCount(senderId) {
        fetch(`/reset-message-count/${senderId}/`)
            .then(response => response.json())
            .then(data => console.log('Count reset:', data))
            .catch(error => console.error('Error:', error));
    }

    const messageCountBox = document.getElementById('message-count-box');
    const senderId = messageCountBox.getAttribute('data-sender-id');

    resetMessageCount(senderId); // Call the function immediately when the page loads
    setInterval(() => resetMessageCount(senderId), 10000); // Then call it every 10 seconds
</script>


{% endblock %}
