{% extends 'core/base.html' %}

{% block title %}My Bubbles{% endblock %}

{% block content %}
    <h3 class="text-2xl font-bold mb-4">My Bubbles</h3>

    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        {% for bubble in user_bubbles %}
            <a href="{% url 'core:bubble' pk=bubble.bubble_id.id %}" class="bg-white p-4 rounded-lg shadow-md hover:shadow-lg transition duration-300">
                <div class="flex justify-center mb-2">
                    <img src="{{   bubble.bubble_id.thumbnail.url   }}" alt="Bubble Image" class="w-24 h-24 object-cover rounded-lg">
                </div>
                {% if bubble.bubble_id.status == '1' %}
                <h1 class="text-3xl font-bold mb-6">{{ bubble.bubble_id.name }} <span class="text-green-500 italic text-sm">• Active</span></h1>
                {% elif bubble.bubble_id.status == '2' %}
                <h1 class="text-3xl font-bold mb-6">{{ bubble.bubble_id.name }} <span class="text-yellow-500 italic text-sm">• Voting</span></h1>
                {% else %}
                <h1 class="text-3xl font-bold mb-6">{{ bubble.bubble_id.name }} <span class="text-red-500 italic text-sm">• Archived</span></h1>
                {% endif %}
            </a>
        {% empty %}
            <p>No bubbles found</p>
        {% endfor %}
    </div>
{% endblock %}
